h1{
    color: rgb(222, 255, 38);
    background-color: rgb(0, 217, 255);
    text-align : center;
    border: solid;
    
}
.bodyimg{
    background-color: rgb(59, 138, 138);
    text-align : center;
    border: solid;
}
.origami{
    background-color: rgb(10, 228, 21);
    margin-top: 15mm;
    }
.grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    background-color: rgb(241, 145, 19);
    text-decoration: wavy;

}
.header{
    text-align : center;
}
.fallowus{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    background-color: rgb(45, 241, 19);
    font-size: xx-large;
}
a:link{
    color: rgb(23, 136, 0);
    }
    a:visited{
        color: rgb(255, 0, 0);
        }
.origami:hover{
    transform: scale(1.2);
}